.congtainer{
    width: 90%;
    overflow: hidden;
    background-color: #F9B23A;
    margin-top: 20px auto;
    padding: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Avenir, Heveltica, Arial, san-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
li {
  padding: 1em;
  background: #F9B23A;
}