.circle {
  height: 200px;
  width: 200px;
  background-color: blue;
  border-radius:58%;
  display: inline-block;
}

#clock {
  position: relative;
  top: 85px;
  font-size: 30px;
  background-color: blue;
  border: hidden;
  max-width: 70px;
  left: 67px;
  flex-wrap: row;
}
