

    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border: solid goldenrod;
        width: 200px;
        animation-name: stretch;
        animation-duration: 9s;
        animation-fill-mode: forwards;
        animation-iteration-count: initial;
    }

    .children{
        background: lightcoral;
        padding: 0 15px;
        height: 25%;
        flex: 1;
        text-align: center;
        margin: 0.25em;
        padding: 0.25em;
        border: 1px solid crimson;
        text-decoration: none;
        color: darkolivegreen;
    }
    
